git+https://github.com/Meyit47/Ytp
aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor
pillow
psutil
git+https://github.com/Meyit47/pytg-calls
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
git+https://github.com/pyrogram/tgcrypto
unidecode
youtube-search
youtube-search-python
