aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor==3.0.0
pillow==9.5.0
psutil
py-tgcalls==0.8.6
pykeyboard
pyrogram==1.4.16
python-dotenv
pyyaml==5.3.1
requests
spotipy
tgcrypto
lyricsgenius
git+https://github.com/alexmercerind/youtube-search-python@main
git+https://github.com/MehmetAtes21/ytsearch@master
git+https://github.com/MehmetAtes21/ydpdl.git
git+https://github.com/MehmetAtes21/histest
